doctype html
html
	head
		meta(charset="utf-8")
		title Snake
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel="stylesheet" href='/styles/main.min.css')
		script(src="/js/main.js")

	body
		include src/main.pug